@using BootstrapSupport
@model PagedViewModel

@{
    var dictionary = new Dictionary<string, object>();
    Request.QueryString.CopyTo(dictionary);
    dictionary["page"] = 1;
}

<div>
    <div class="pull-left">
        <h4>
            @Html.Raw(String.IsNullOrEmpty(Model.Title) ? Model.Items.GetLabel() : Model.Title)
            <small>Showing @Model.FirstItemOrdinal() - @Model.LastItemOrdinal() of @Model.TotalNumberOfItems
            @if (Model.Filtered)
            {
                <span><i class="icon-filter" title="This list is filtered"></i> @Html.ActionLink("Clear filter", "Index")</span>
            }
            </small>
        </h4>
    </div>
   
    <div class="pagination pagination-right">
        <ul>
            @for (int i = 1; i <= Model.TotalNumberOfPages(); i++)
            {
                dictionary["page"] = i;
                <li class="@(Model.CurrentPage == i ? "active" : "")">
                    <a  href="?@Html.Raw(String.Join("&", dictionary.Select(x => x.Key + "=" + dictionary[x.Key])))">
                        @(i)
                    </a>
                </li>
            }
        </ul>
    </div>
</div>